@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 400px; */
  padding-top: 75px;
  width: 100%;
  background: linear-gradient(to top, #fdcbf1, #d4f3ff);
  /*flex-wrap: wrap;*/
}

.login-image-container {
  width: 400px;
  height: 620px;
  background-color: hotpink;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.login-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.login-form-container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 620px;
  background: linear-gradient(to bottom, #fda7df, #d4f3ff);
  padding: 25px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.login-title {
  font-family: "Poppins", sans-serif;
  /* margin-top: 115px; */
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  position: relative;
  cursor: default;
}

.login-title::before {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: 0;
  height: 3px;
  width: 75px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff1db4, #ac1dff);
}

/* .login-user-details {
  margin: 0px 0 12px 0;
} */

.login-details {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 3px;
  cursor: default;
}

.login-text-box {
  font-family: "Poppins", sans-serif;
  height: 45px;
  width: 340px;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding-inline: 13px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  margin-bottom: 21px;
  transition: all 0.3s ease;
  color: #cf661a;
  font-weight: 500;
}

.login-text-box:focus-visible {
  transform: scale(105%);
  border-color: #9b59b6;
}
.login-pass-box {
  padding-right: 12.7%;
}

.login-password-eye {
  position: absolute;
  display: flex;
  margin-top: -54px;
  margin-left: 304px;
  cursor: pointer;
  font-size: 21px;
}

.login-error-messages {
  margin-top: -17px;
  margin-bottom: 7px;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.login-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 7px;
  margin-bottom: 10px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(to left, #f977ce, #c373f2);
}

.login-btn:hover {
  transform: scale(105%);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  background: linear-gradient(to right, #ff1db4, #ac1dff);
  color: #000000;
}

.signup-line {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.signup-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: justify;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
}

.signup-link:hover {
  color: #0024ff;
  text-shadow: 2px 2px 3px white;
  transition: all 0.1s ease;
}

.forgot-pwd {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 3px #cf661a;
}

.forgot-pwd:hover {
  color: #cf661a;
  text-shadow: 2px 2px 3px white;
  transition: all 0.1s ease;
}

.validate-txt {
  margin-top: -23px;
  margin-left: 9px;
  font-weight: 500;
  color: red;
  position: absolute;
  font-size: 16.7px;
}

@media only screen and (max-width: 840px) {
  .login-image-container {
    display: none;
  }

  .login-form-container {
    /* min-height: 100%; */
    width: 390px;
    padding: 25px 27px;
    border: 2px solid #92e0ff;
    box-shadow: 1px 1px 15px #7fdbff;
  }

  /* .login-error-messages {
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 1px rgb(255, 5, 5);
  } */

  .login-text-box {
    width: 332px;
  }
  .login-pass-box {
    padding-right: 13.5%;
  }

  .login-password-eye {
    margin-left: 296px;
  }
}

@media only screen and (max-width: 460px) {
  .login-form-container {
    display: flex;
    justify-content: center;
    width: 340px;
    height: 450px;
    padding-top: 20px;
  }

  .login-container {
    padding-top: 5px;
  }

  .login-title {
    font-size: 23px;
  }

  .login-title:before {
    width: 69.3px;
  }

  .login-text-box {
    width: 300px;
    font-size: 16px;
    height: 42px;
  }

  .login-text-box:focus-visible {
    transform: scale(103%);
  }

  .login-details {
    font-size: 18px;
  }

  .login-btn:hover {
    transform: scale(103%);
  }

  .login-pass-box {
    padding-right: 13.6%;
  }

  .login-password-eye {
    margin-left: 265px;
    margin-top: -52px;
    font-size: 20px;
  }
}
